# Supabase Configuration
SUPABASE_URL=https://aontozgncbcdtsygwmny.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvbnRvemduY2JjZHRzeWd3bW55Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI5OTE4MDUsImV4cCI6MjA5ODU2NzgwNX0.jouo3rk8_mrcvwx5tlLRECOL0HnvpzLHWxm-xt1-VDk

# Backend Server
HOST=0.0.0.0
PORT=8000
